:root{
    --Soft_blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --VeryDarkBlueMainBG: hsl(217, 54%, 11%);
    --VeryDarkBlueCardBG: hsl(216, 50%, 16%);
    --VeryDarkBlueLine: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --Font_Size : 16px;
}

html,body{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    display: block;
}
body{
    background: var(--VeryDarkBlueMainBG);
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    
}
.button-container{
    margin: 30px;
    height: 50px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}
.button{
    width: 100px;
    height: 100px;
    border-radius: 70px;
    border:2px solid var(--cyan);
    font-size: var(--VeryDarkBlueMainBG);
    font-weight: 600;
    color: var(--Soft_blue);
    background-color:mediumpurple;
}
.button:hover{
    transition: color 0.4s ease-in-out;
    transition: box-shadow 0.4s ease-in-out;
    color:antiquewhite;
    background-color: black;
    box-shadow: 0px 0px 5px 5px rgb(243, 243, 243);
}
.button:disabled{
    opacity: 0.5;
}
.Container{
    border-radius: 8px;
    position: relative;
    width: 86%;
    margin: 0 auto;
    margin-top: 27px;
    margin-bottom: 27px;
    background-color: var(--VeryDarkBlueCardBG);
}
.Container-CardTop{
    height: 280px;
    position: relative;
    display: flex;
    justify-content: center;
    
}
.Container-CardTop img{
    border-radius: 8PX;
    position: relative;
    bottom: -25px;
}
.CardTop{
    opacity: 0;
    top: 25px;
    background-color: hsl(178, 100%, 50%, 30%);
    height: calc(100%);
    width: 280px;
    border-radius: 8px;
    transition: opacity 0.4s ease-in-out;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -25px;
}

.CardTop:hover {
    opacity: 1;
    cursor: pointer;
}
.CardBottom{
    width: 285px;
    margin: 0 auto;
}
    
.description-g p:nth-child(1){
    height: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 22px;
    font-weight: 600;
    color: var(--White);
}
.description-g p:nth-child(1):hover{
    transition: color 0.4s ease-in-out;
    color: var(--cyan);
}
.description-g p:nth-child(2){
    font-size: var(--Font_Size);
    font-weight: 300;
    color: var(--Soft_blue);
    margin-bottom: 5px;
}



.description-g p:nth-child(3){
    font-size: var(--Font_Size);
    font-weight: 300;
    color: var(--Soft_blue);
    margin-top: 0;
}
.description-e{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--VeryDarkBlueLine);
    position: relative;
}
.eth span{
    font-weight:400;
    color: var(--cyan);
    font-size: var(--Font_Size);
    text-align: end;
    position: relative;
    margin: 0px 0px 0px 5px ;
    bottom: 3px;
}
.timeLeft span{
    font-weight:300;
    color: var(--Soft_blue);
    font-size: var(--Font_Size);
    text-align: end;
    position: relative;
    margin: 0px 0px 0px 5px ;
    bottom: 3px;
}
.autor{
    height: 35px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 0 0;
    padding-bottom: 20px;
}
.autor img{
    border-radius: 50%;
    border: 2px solid white;
}
.autor p{
    font-size: var(--Font_Size);
    font-weight: 300;
    color: var(--Soft_blue);
    margin: auto 15px;
}
.autor span{
    color: var(--White);
    margin-left: 5px;
}
.autor span:hover{
    transition: color 0.4s ease-in-out;
    color: var(--cyan);
}